.createForm{
    width: 110vh;
    height: 100%;
    background-color: gray;
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */


}

.container{
display: flex;
width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.btnn{
    margin-left: 150%;
    background-color: brown;

}